.backdrop {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;

  &_dark {
    background: rgba(0, 0, 0, 0.6);
  }

  &_visible {
    display: flex;
    min-height: 100vh;
  }
}
