@import 'variables';
@import 'mixins';
@import './my-reset.scss';
@import './blocks/scroll.scss';
@import './blocks/form/form.scss';
@import './blocks/buttonPrimary/buttonPrimary.scss';
@import './blocks/backdrop/backdrop.scss';
@import './blocks/popup/popup.scss';
@import './blocks/popupForm/popupForm.scss';

.ChatPage {
  @include mainBlock();
  background: #fbfbfb;
}

.chatBlock {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  border-right: 1px solid #eaeaea;

  &__mainContent {
    width: 100%;
    display: flex;
    flex: 1 0;
    flex-direction: column;
  }

  &__createChatBtn {
    background: #efefef;
    border-radius: 5px;
    min-height: 32px;
    width: 100%;
    outline: none;
    transition: background .2s, color .2s;

    &:hover {
      background: #3369f3;
      color: #fff;
    }

    &:active {
      transform: scale(.98);
    }
  }

  &__history {
    min-height: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: default;
  }

  &__historyTitle {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.85rem;
    padding-right: 10px;
    color: $secondary-font-color;

    &:hover {
      color: $primary-color;
    }

    span {
      margin: 0 3px;
    }
  }

  &__searchPanel {
    position: relative;
    background: #efefef;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto 15px;

    &:hover .chatBlock__searchInput,
    &:focus {
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__searchPlaceholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondary-font-color;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s, left 0.3s;
  }

  .chatBlock__searchInput:focus + .chatBlock__searchPlaceholder_visible,
  .chatBlock__searchInput:valid + .chatBlock__searchPlaceholder_visible {
    opacity: 1;
    left: 5px;
    transform: translate(0, -50%);
  }

  .chatBlock__searchInput:focus
    + .chatBlock__searchPlaceholder_visible
    .chatBlock__searchPlaceholderText,
  .chatBlock__searchInput:valid
    + .chatBlock__searchPlaceholder_visible
    .chatBlock__searchPlaceholderText {
    opacity: 0;
  }

  &__searchPlaceholderText {
    margin-left: 5px;
  }

  &__searchInput {
    background: #efefef;
    border-radius: 5px;
    height: 32px;
    width: 100%;
    padding: 3px 7px 3px 25px;
    outline: none;
  }

  &__selectedChat {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4px 10px;

    select {
      padding: 0 5px 0 0;
    }
  }

  &__chatName {
    color: $primary-color;
  }

  &__list {
    display: block;
    flex-direction: column;
    overflow-y: auto;
    max-height: 540px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #eaeaea;
    cursor: default;
    background: transparent;
    transition: background 0.2s;

    ul {
      list-style-type: none;
    }

    &:last-child {
      border-bottom: 1px solid #eaeaea;
    }

    &:hover {
      background: #e4edfd;
    }
  }

  &__itemImg {
    border-radius: 50%;
    background: #efefef;
    height: 47px;
    width: 47px;
    flex-shrink: 0;
  }

  &__itemContent {
    flex: 1 1;
    padding: 0 7px 0 10px;
  }

  &__itemTitle {
    font-size: 0.85rem;
    color: #1e1e1e;
    margin-bottom: 3px;
  }

  &__itemLastMsg {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;

    font-size: 0.8rem;
    color: $secondary-font-color;
  }

  &__itemRightBlock {
    width: 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__itemTime {
    font-size: 0.7rem;
    color: $secondary-font-color;
  }

  &__itemCountMsg {
    border-radius: 50%;
    background: $primary-color;
    color: #fff;
    height: 16px;
    width: 16px;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.messageBlock {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
  }

  &__titleBlock {
    display: flex;
    align-items: center;
  }

  &__titleImg {
    border-radius: 50%;
    background: #efefef;
    height: 34px;
    width: 34px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }

  &__title {
    color: #1e1e1e;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 10px;
  }

  &__buttonSettingContainer {
    padding: 10px;

    &:hover {
      transform: scale(1.1);
      background: #f5f5f5;
      border-radius: 50%;
    }

    &:active {
      transform: scale(0.95);
    }

    &:hover .messageBlock__buttonSetting {
      background-color: blue;
      box-shadow: 0 6px 0 blue, 0 -6px 0 blue;
    }

    &.active {
      transform: scale(1.1);
      background: #f5f5f5;
      border-radius: 50%;
    }

    &.active .messageBlock__buttonSetting {
      background-color: blue;
      box-shadow: 0 6px 0 blue, 0 -6px 0 blue;
    }
  }

  &__buttonSetting {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0 6px 0 black, 0 -6px 0 black;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: auto;
    flex: 1 1;
  }

  &__dateMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $secondary-font-color;
    font-size: 0.75rem;
  }

  &__messageLeft {
    position: relative;
    border-radius: 20px;
    background: #f8f8f8;
    padding: 15px 20px 20px 15px;
    max-width: 410px;
    align-self: flex-start;
  }

  &__text {
    margin-bottom: 10px;
    font-size: 0.85rem;
    line-height: 1.1rem;
    color: #1e1e1e;

    &:last-child {
      margin: 0;
    }
  }

  &__timeMessage {
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 0.7rem;
    color: $secondary-font-color;
  }

  &__messageRight {
    position: relative;
    border-radius: 20px 20px 0 20px;
    background: #e4edfd;
    padding: 10px 60px 10px 15px;
    max-width: 410px;
    align-self: flex-end;
    margin-top: 15px;
  }

  &__checkMessage {
    color: $primary-color;
  }

  &__timeMessage {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.7rem;
    color: $primary-color;
  }

  &__inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: $secondary-font-color;
  }

  &__attachButton {
    padding: 5px;

    &:hover {
      color: blue;
    }

    &.active {
      color: blue;
    }
  }

  &__input {
    background: #efefef;
    border-radius: 30px;
    flex: 1 1;
    margin: 0 10px;
    height: 32px;
    padding: 3px 10px;
    outline: none;
  }

  &__submit {
    width: 28px;
    height: 28px;
    background: $primary-color;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
  }
}

.popupSetting {
  top: 60px;
  right: 17px;
  z-index: 5;

  &__item {
    padding: 10px 0;
    cursor: default;

    &:hover {
      color: blue;
    }
  }

  &__itemImg {
    display: inline-block;
    margin-right: 5px;
    color: blue;
  }

  &__itemImg_rotate {
    transform: rotate(45deg);
  }
}

.popupAttach {
  bottom: 55px;
  left: 38px;
  z-index: 5;

  &__item {
    padding: 10px 0;
    cursor: default;

    &:hover {
      color: blue;
    }
  }

  &__itemImg {
    display: inline-block;
    margin-right: 5px;
    color: blue;
  }
}
